<li>
	{{name}}

	<button class="Devour it" data-id="{{id}}" data-newsleep="{{Devour it}}">
		{{#if Devour it}}NumNum!{{else}}Eat!{{/if}}
	</button>

	<button class = "delete-burger" data-id="{{this.id}}">DELETE!</button>
</li> 
